################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
.vs/
/nuget.txt
/.vs/XamlFlair/v15
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/XamlFlair.WPF/obj
/XamlFlair.UWP/obj
/XamlFlair.Uno/obj
/Samples/XamlFlair.Samples.WPF/obj/Debug
/Samples/XamlFlair.Samples.UWP/obj
/.vs/XamlFlair/v16
/Samples/XamlFlair.Samples.UWP/bin/x64/Debug
/Samples/XamlFlair.Samples.WPF/bin/Debug
/Samples/XamlFlair.Samples.WPF/obj
/XamlFlair.UWP/bin/Debug
/XamlFlair.WPF/bin/Debug
/XamlFlair.UWP/bin
/XamlFlair.WPF/bin
/XamlFlair.Uno/bin
/.vs/XamlFlair/DesignTimeBuild/.dtbcache
/Samples/XamlFlair.Samples.Uno/XamlFlair.Samples.Uno.Droid/obj
/Samples/XamlFlair.Samples.Uno/XamlFlair.Samples.Uno.iOS/obj
/Samples/XamlFlair.Samples.Uno/XamlFlair.Samples.Uno.UWP/obj
/Samples/XamlFlair.Samples.Uno/XamlFlair.Samples.Uno.Wasm/obj
/Samples/XamlFlair.Samples.Uno/XamlFlair.Samples.Uno.Droid/XamlFlair.Samples.Uno.Droid.csproj.user
/XamlFlair.Uno/XamlFlair.Uno.csproj.user
/XamlFlair.Shared/XamlFlair.Shared.shproj.user
/Samples/XamlFlair.Samples.Uno/XamlFlair.Samples.Uno.iOS/XamlFlair.Samples.Uno.iOS.csproj.user
